body {
	padding-top: 10px;
    padding-bottom: 50px;
	font-size: 14pt;
	color: #555;
	/*font-family: 'Roboto', sans-serif;*/
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

strong, b {
  color: #000;
}

h1 small {
  color: #777;
}


footer {
  	padding: 5px 0px;
  	border-top: 1px dashed #ccc;
  	color: #777;
}

footer * {
  	font-size: 10pt;
}

form {
	margin-bottom: 20px;
}

label {
    font-weight: inherit;
}


dl {
    margin-bottom: 10px;
}

dd > p {
    margin-bottom: 0px;
}

ul {
    list-style-type: circle;
}

/* TEMPLATE */

.starter-template {
	padding: 0px 5px 40px 5px;
}

.page-header {
    border-bottom-style: dashed;
}

.thumbnail {
    border: 1px dashed #aaa; 
}

.btn {
    border: 1px dashed #aaa; 
}

/* MENU */

.navbar-default {
    background-color: #fff;
    border-color: #fff;
    border-bottom: 1px dashed #ccc;
    color: #000;
}

.navbar-collapse {
    padding-left: 0px;
}

.navbar-default .navbar-nav > li > a
{
    font-size: 26px;
    color: #777;
    border-bottom: 1px dashed #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-right > li > a {
    color: inherit;
    background-color: #fff;
    border-bottom: 1px dashed #000;
    font-weight: bold;
}


.navbar-default .navbar-nav a:hover, .navbar-default .navbar-nav .active a:hover {
   background-color: #fff;
   color: inherit;
   border-bottom: 1px dashed id #000;
}



/* CV */


dl.dl-horizontal dt {
    color: #777;
    font-weight: inherit;
}


section#cv > article > header > h3  {
	border-bottom: 1px dashed rgb(240, 240, 240);
	margin-top: 40px;
    margin-bottom: 20px;
}
